
@{
    ViewBag.Title = "TestQuestions";
    Layout = "~/Views/Shared/_TeacherDashboardLayout.cshtml";
}


<script>
    $(document).ready(function () {


        var course = 'CSS';
        var Class;
        $('#CTId').change(function () {

            $('#TopicId').html('');

            var crse = $(this).val();

            if (crse != "") {

                console.log(crse);
                course = crse;
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: "/AspNetProject/GetSubjectsByClass?CT=" + course,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        var sch = JSON.parse(data);
                        console.log(sch);
                        var $el = $("#SubId");
                        var $e2 = $("#TopicId");
                        $e2.empty();
                        $el.empty();
                        if (sch.length > 0) {
                            $el.append($("<option></option>")
                                .attr("value", "").text('Select Subject'));
                            for (i = 0; i < sch.length; i++) {

                                $el.append($("<option></option>")
                                    .attr("value", sch[i].Id).text(sch[i].SubjectName));
                            }
                        }
                        else {
                            $el.append($("<option></option>")
                                .attr("value", '').text('Select'));
                        }
                    }
                });
            }
            else {

                var $el = $("#SubId");
                $el.empty();
                var $e2 = $("#TopicId");
                $e2.empty();

            }


        });


        $('#SubId').change(function () {

            var subid = $(this).val();
            console.log(subid);

            $.ajax({
                type: "POST",
                cache: false,
                url: "/AspNetProject/GetTopic?SubID=" + subid,
                processData: false,
                contentType: false,
                success: function (data) {
                    var sch = JSON.parse(data);
                    console.log(sch);
                    var $el = $("#TopicId");
                    $el.empty();
                    if (sch.length > 0) {
                        $el.append($("<option></option>")
                            .attr("value", "").text('Select Topic'));
                        for (i = 0; i < sch.length; i++) {

                            $el.append($("<option></option>")
                                .attr("value", sch[i].Id).text(sch[i].Name));
                        }
                    }
                    else {
                        $el.append($("<option></option>")
                            .attr("value", '').text('Select'));
                    }
                }
            });

        });




    }) //End of Document Ready
</script>


<h3>&nbsp;&nbsp;Detail Test Questions</h3>
<br />
<div class="box box-primary">
 

    <div class="box-body">
        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-md-2">
                    <label>Course Type <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-6">
                    <select class="form-control CTIdDDL" id="CTId" name="CTId">

                        <option value="">Select One</option>

                        <option value="CSS">CSS</option>
                        <option value="PMS">PMS</option>

                    </select>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label>Select Subject <span class="text-danger">*</span></label>
                </div>
                <div class="col-md-6">
                    <select class="form-control SubIdDDL" id="SubId" name="SubId"></select>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-2">
                    <label>Select Topic<span class="text-danger">*</span></label>
                </div>
                <div class="col-md-6">
                    <select class="form-control TopicIdDDL" id="TopicId" name="TopicId" required></select>
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-header with-border"><h3 class="orange">Questions:<span class="red-mark">*</span></h3></div>

                                <div class="box-body">
                                    <select multiple readonly style="height:400px;overflow-x:scroll" class="form-control" id="QuestionID" name="QuestionID" required></select>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script>


    $(document).ready(function () {

        $("#TopicId").change(function () {
            var selectedTopic = $("#TopicId").val();
            debugger
            $.ajax({
                url: '@Url.Action("TestQuestionsByTopics")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                traditional: true,
                data: { bdoIds: selectedTopic },

            }).done(function (response) {
                $('#QuestionID').html('');

                $.each(response, function (i, item) {

                    debugger
                    // var classname = $("#ClassID option[value='" + item.ClassID + "']").text();
                    $('#QuestionID').append('<option value=' + item.Id + '>' + item.Name + ' </option>');
                });
            })


        });





    })//end of document ready



</script>
