
<label>@Html.ActionLink("Home", "Dashboard", "Account") > <b><a href="#">Assessment</a></b></label>
<h4 class="orange">Assessment</h4>
<script>
    $("document").ready(function () {

        $("#Session").click(function () {
            debugger;

            var studentID = $("#ChildrenID").val();
            debugger;
            var SessionId = $("#Session").val();

            $.ajax({
                type: "post",
                url: "/Parent_Dashboard/getTerm",
                data: { "SessionId": SessionId, childId : studentID },
                success: function (data) {
                    console.log(data);
                    $("#TermId").html(" ");
                    $.each(data, function (i, item) {
                        $("#TermId").append("<option value=" + item.Id + ">" + item.TermName + "</option>");
                    });
                }
            });
        });

        $("#TermId").change(function () {

            var studentID = $("#ChildrenID").val();
            var TermId = $("#TermId").val();
            var topppp = $("#ChildrenID")[0].textContent;

            $('.eeniart0017').css("display", "block");
            $.ajax({
                type: "POST",
                url: "/TermAssessment/ClassEvaluations",
                data: { 'StudentId': studentID, TermId: TermId, "type": "Principle" },
                success: function (data) {
                    var teachercomment = data.teacherComent;
                    var parentComment = data.parentComent;
                    var principalcomment = data.prinpipalComent;
                    debugger;
                    //assessmentseeni();
                    $('#eeniartstuddentassessment').css("display", "block");
                    $('.eeniart0017').css("display", "none");
                    var tu = data.dinterm.Days - (data.dinterm.Days / 7 * 2);
                    var dyesttotel = tu.toString().split('.')[0];
                    var studata = data.studentdata[0];
                    var hedderappend = $('#eeniartstuddentassessment').find('.box-header');
                    var areaappend = $('#eeniartstuddentassessment').find('table');

                    $(hedderappend)[0].children[1].children[4].innerHTML = topppp;
                    $(hedderappend)[0].children[2].children[0].children[1].innerHTML = studata.BirthDate;
                    $(hedderappend)[0].children[2].children[1].children[1].innerHTML = studata.Class;
                    $(hedderappend)[0].children[2].children[2].children[1].innerHTML = studata.Section;
                    $(hedderappend)[0].children[3].children[0].children[1].innerHTML = dyesttotel + " Days";
                    $(hedderappend)[0].children[3].children[1].children[1].innerHTML = dyesttotel + " Days";

                    $(areaappend)[0].innerHTML = "";
                    var brrrrr = $('<br />');
                    var subjects = data.Value;
                    for (var i = 0; i < subjects.length; i++) {
                        var Data = subjects[i];
                        var trbefordatas = $('<tr><td style="visibility: hidden;">g</td></tr><tr style="border-bottom:1px solid #f4f4f4"><th class="eeniart003">' + Data.SubjectName + '</th><th class="form-group eeniart003"><div class="col-md-8 eeniart001">EVALUATION</div></th></tr>');
                        var trbefordatam = $('<tr><td colspan="4"><br /><br /><h3>' + Data.SubjectName + '</h3></td></tr>');
                        var trbefordatam1 = $('<tr style="border-bottom:1px solid #f4f4f4;"><th class="eeniart003" style="width:40%">Topics</th><th class="eeniart003" style="width:20%">1st Term</th><th class="eeniart003" style="width:20%">2nd Term</th><th class="eeniart003" style="width:20%">3rd Term</th></tr>');


                        if (data.ClassId == 88 || data.ClassId == 89 || data.ClassId == 91 || data.ClassId == 95) {

                            $(areaappend).append(trbefordatas);
                        }
                        else if (data.ClassId == 86 || data.ClassId == 87 || data.ClassId == 92 || data.ClassId == 93 || data.ClassId == 94) {
                            $(areaappend).append(trbefordatam)
                            $(areaappend).append(trbefordatam1)
                        }

                        $.ajax({
                            type: "POST",
                            url: "/TermAssessment/subqueEvaluations",
                            async: false,
                            data: { StudentId: Data.StudentID, SubId: Data.Id, TermId: TermId },
                            success: function (dataaa) {
                                debugger;
                                var questions = dataaa.Value



                                for (var i = 0; i < questions.length; i++) {
                                    var Dato = questions[i];

                                    if (dataaa.TId == 1) {
                                        var quis = $('<tr style=" border-bottom 1px solid #f4f4f4;"><td class="eeniart003">' + Dato.Question + '</td><td class="eeniart003 form-group"><div class="col-md-8 eeniart001"><label>' + options(Dato.FirstTermGrade) + '</label></div></td></tr>');
                                    }
                                    else if (dataaa.TId == 2) {
                                        var quis = $('<tr style=" border-bottom 1px solid #f4f4f4;"><td class="eeniart003">' + Dato.Question + '</td><td class="eeniart003 form-group"><div class="col-md-8 eeniart001"><label>' + options(Dato.SecondTermGrade) + '</label></div></td></tr>');
                                    }
                                    else {
                                        var quis = $('<tr style=" border-bottom 1px solid #f4f4f4;"><td class="eeniart003">' + Dato.Question + '</td><td class="eeniart003 form-group"><div class="col-md-8 eeniart001"><label>' + options(Dato.ThirdTermGrade) + '</label></div></td></tr>');
                                    }

                                    var quim = $('<tr style="border-bottom: 1px solid #f4f4f4;"><td class="eeniart003">' + Dato.Question + '</td><td class="eeniart003">' + options(Dato.FirstTermGrade) + '</td><td class="eeniart003">' + options(Dato.SecondTermGrade) + '</td><td class="eeniart003">' + options(Dato.ThirdTermGrade) + '</td></tr>');


                                    if (dataaa.ClassId == 88 || dataaa.ClassId == 89 || dataaa.ClassId == 91 || dataaa.ClassId == 95) {
                                        $(areaappend).append(quis)
                                        //$(areaappend).append(brrrrr)
                                    }
                                    else if (dataaa.ClassId == 86 || dataaa.ClassId == 87 || dataaa.ClassId == 92 || dataaa.ClassId == 93 || dataaa.ClassId == 94) {
                                        $(areaappend).append(quim)
                                        //$(areaappend).append(brrrrr)
                                    }

                                }

                            },
                            error: function (xhr) {
                                $('.eeniart0017').css("display", "none");
                                debugger;
                                alert(xhr.responseText);
                            }

                        })
                       
                    }
                    $('#TC').append(teachercomment);
                    $('#PC').append(parentComment);
                    $('#PrC').append(principalcomment);
                   }
            });



            //$.ajax({
            //    type: "post",
            //    url: "/Parent_Dashboard/getAssessment",
            //    data: { 'termID': TermId, "StudentID": studentID },
            //    success: function (Assessment_DATA) {
            //        console.log(Assessment_DATA);
            //        $("#Student_assessment").html(' ');
            //        if (Assessment_DATA.PrincipleComment != null) {
            //            var z = 0;
            //            var categoryContainer = null;
            //            var subContainer = null;
            //            for (var i = 0; i < Assessment_DATA.assessment_data.length; i++) {
            //                $("#Student_assessment").append("<div style='background-color:Primaryblue' class='box box-primary box-body col-md-12 text-center text-bold'>" + Assessment_DATA.assessment_data[i].SubjectName + "</div>");
            //                for (var x = 0; x < Assessment_DATA.assessment_data[i].CatageoryList.length; x++) {
            //                    var currentId = 'current_' + z;
            //                    categoryContainer = '<div id = "'+currentId+'" class = "col-md-6">' +
            //                    '<div class="text-bold">' + Assessment_DATA.assessment_data[i].CatageoryList[x].catageoryName + '</div>'
            //                    + '</div>';
            //                    $("#Student_assessment").append(categoryContainer);
            //                    var subContainerId = 'subContainer_' + z;
            //                    for (var y = 0; y < Assessment_DATA.assessment_data[i].CatageoryList[x].QuestionList.length; y++) {
            //                        subContainer = '<div id="' + subContainerId + '"><div class="col-md-11">' + Assessment_DATA.assessment_data[i].CatageoryList[x].QuestionList[y].Question + '<hr /></div> <div class="col-md-1">' + Assessment_DATA.assessment_data[i].CatageoryList[x].QuestionList[y].Answer + '</div></div>';
            //                        $("#" + currentId).append(subContainer);
            //                    }
            //                    z++;
            //                }
            //                $("#principal_comment").append("<div class='col-md-11 text-bold'>Teacher Comments</div><div class='col-md-1'>" + Assessment_DATA.assessment_data.TeacherComment + "</div>");
            //                console.log(Assessment_DATA.assessment_data.TeacherComment);
            //            }
            //            $("#principal_comment").append("<div class='text-bold'>Principle Comments</div><div>" + Assessment_DATA.PrincipleComment + "</div>");
            //        } else {
            //            $("#Student_assessment").append("<div>Your assessment is in processing</div>")
            //        }
            //    }
            //});

        });




    });
    function SaveComment()
    {
        var studentID = $("#ChildrenID").val();
        var TermId = $("#TermId").val();
        var tc = $("#PC").val();
        $.ajax({
            type: "POST",
            url: "/TermAssessment/SaveComments",
            data: { stdid: studentID, TermId: TermId,'type':'Parent',tc:tc },
            success: function (data) { }
        });
    }
    function printoo() {
        var divToPrint = document.getElementById('eeniartstuddentassessment');
        $(divToPrint).find('.box-footer').css("display", "none");
        var newWin = window.open('', 'Print-Window');
        //newWin.document.open();
        newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');//onclick="window.print()"
        //$('body').find('box-footer').addClass('eeniartblock');
        $(newWin).find('body').trigger('click');
        newWin.document.close();
        setTimeout(function () { newWin.close(); }, 10);
        var divToPrint = document.getElementById('eeniartstuddentassessment');
        $(divToPrint).find('.box-footer').css("display", "block");
    }
    function options(e) {
        if (e == "n") { return "Not Yet" }
        if (e == "y") { return "Yes" }
        if (e == "w") { return "With Help" }
        if (e == "x" || e == null || e == "") { return "Not Assessed" }
        if (e == "a") { return "Excellent" }
        if (e == "b") { return "Good" }
        if (e == "c") { return "Satisfactory" }
        if (e == "d") { return "Cause for concern" }
        if (e == "n.a") { return "Not Applicable" }
    }

</script>


<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Assessment</h3>
    </div>
    <div class="box-body">
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <lable class="col-md-2 col-lg-1 control-label"><b>Select Session</b></lable>
                    <div class="col-md-4">
                        @Html.DropDownList("Session", null, htmlAttributes: new { @class = "form-control" })
                    </div>
               
                    <lable class="col-md-2 col-lg-1 control-label"><b>Select Term</b></lable>
                    <div class="col-md-4">
                        <select class="form-control" id="TermId"></select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="box-body">
    <div class="dataTable" id="Student_assessment">

    </div>
</div>

<div class="box box-primary" id="eeniartstuddentassessment" style="display:none">
    <link href="~/Content/EeNiArTWork.css" rel="stylesheet" />
    <link href="~/AdminLTE/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <div class="box-header">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-3" style="text-align:  center;">
                <img class="eeniart005" src="~/Content/Images/NGS-Pre-School-Logo.png" />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <br /><br /><br />
                <div><h3 style="text-align:center">IPC NGS Preschool</h3></div>
                <div><h3 style="text-align:center">Aziz Avenue</h3></div>
                <div><h1 style="text-align:center">March Report 2017</h1></div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3" style="text-align:  center;">

                <img class="eeniart006" src="~/Content/Images/International-pree.png" />
                <i class="fa fa-print eeniart004" aria-hidden="true" onclick="printoo()"></i>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <br /><br /><br />
            <span class="col-md-1"><b>Name</b></span><label class="col-md-11" style="border-bottom:1px solid black">Hamza Naeem</label>
        </div>
        <div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <span class="col-md-4"><b>Date of birth</b></span><label class="col-md-8" style="border-bottom:1px solid black">5-December-2017</label>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <span class="col-md-2"><b>Class</b></span><label class="col-md-10" style="border-bottom:1px solid black">Reception</label>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <span class="col-md-2"><b>Section</b></span><label class="col-md-10" style="border-bottom:1px solid black">A</label>
            </div>
        </div>
        <div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <span class="col-md-4"><b>Days in the Term</b></span><label class="col-md-8" style="border-bottom:1px solid black">90 Days</label>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <span class="col-md-2"><b>Days Attended</b></span><label class="col-md-10" style="border-bottom:1px solid black">50</label>
            </div>
        </div>
    </div>
    <div class="box-body">


        <div class="col-md-12">
            <table style="width: 100%;">
                <tbody>
                    <tr style="border-bottom:1px solid #f4f4f4;">
                        <th>ENGLISH LANGUAGE</th>
                        <th class="form-group">
                            <div class="col-md-8 eeniart001">EVALUATION</div>
                        </th>
                    </tr>
                    <tr style="border-bottom: 1px solid #f4f4f4;">
                        <td>Abc History</td>
                        <td class="form-group">
                            <div class="col-md-8 eeniart001">
                                <label>
                                    Yes
                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="box-body">
        <div class="col-md-8">
            <br />
            <label class="control-label col-md-2">Teacher Comment</label>
            <div class="col-md-10">
                <textarea class="form-control" style="background-color:white" type="text" id="TC" readonly></textarea>
            </div>
            <br /><br /><br />
        </div>
        <div class="col-md-8">
            <label class="control-label col-md-2">Principal Comment</label>
            <div class="col-md-10">
                <textarea class="form-control" style="background-color:white" id="PrC" onblur="PRINCIPAL()" readonly></textarea>
            </div>
            <br /><br /><br />
        </div>
        <div class="col-md-8">
            <label class="control-label col-md-2">Parent Comment</label>
            <div class="col-md-10">
                <textarea class="form-control" type="text" id="PC"></textarea>

                <br /><br />
             </div>
            
           
         </div>
        <div class="col-md-12 box-footer">
            <input type="submit" value="Save Comment" onclick="SaveComment()" class="col-md-offset-4 btn btn-primary" />
            <button class="btn btn-primary pull-right" onclick="printoo()">Print</button>
        </div>
    </div>
</div>

      <div class="box box-primary" style="display:none">
          <div class="box-body">
              <div class="dataTable" id="principal_comment">
              </div>
          </div>
      </div>

       
 
        @*<table class="table table-striped table-bordered" id="Student_assessment"></table>*@

