
@{
    ViewBag.Title = "Voucher";
}
<script>
    $(document).ready(function () {
        table = $('#example').dataTable();

        drawTable();
        $.ajax({
            type: "POST",
            url: "/Vouchers/GetVoucher",
            success: function (data) {
                table.fnClearTable();
                $.each(data, function (i, item) {
                    debugger;
                    var ab = "";
                    debugger;
                    if (item.Date != null) {
                        var time = item.Date;
                        var startsplit = time.split('(')[1];
                        var endsplit = startsplit.split(')')[0];
                        var endsp = parseInt(endsplit);
                        var d = new Date(endsp);
                        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                        var mm = months[new Date(endsp).getMonth()];
                        var dd = new Date(endsp).getDate();
                        var yy = new Date(endsp).getFullYear();
                        ab = dd + ' ' + mm + ', ' + yy;
                    }
                    var Debit = "-";
                    var Credit = "-";
                    if (item.type == "Dr") {
                        Debit = item.Amount;
                    }
                    else {
                        Credit = item.Amount;
                    }
                    table.fnAddData([item.VoucherNo, item.Name, item.LedgerName, item.Notes, ab, numberWithCommas(Debit), numberWithCommas(Credit)]);
                })
            }
        })
    })

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function drawTable() {
        $('#example_filter').addClass("form-group");
        $('#example_filter').addClass("has-feedback");
        $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
        //$('#example_filter').css("col-lg-9 col-md-8 col-sm-12 col-xs-12");

        $('#example_wrapper').css("text-align", "left");
        $('#example_length').css("text-align", "left");
        $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
        $("#example_length label").css("text-align", "left");
        $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
        // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
        $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#000000 !important" });
        //$('#example_length').css({ "overflow": "auto" });
        $('#example_filter input').addClass("add");
        $('#example_filter').append('<span class="glyphicon glyphicon-search  form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
        var list = $("#ClassID").html();
        $('#example_length').append(

            
           '</div>' +
           '</div>');
        $("#Class").prepend("<option value='0' selected>All</option>");
    }

</script>
<h2 style="font-family:Montserrat">Journal Entry</h2>
@Html.ActionLink("New Journal Entry", "JournalEntry")


<div class="box box-primary">
    <div class="box-body">
        
        <table class="table table-bordered" id="example">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Account
                    </th>
                  
                    <th>
                        Description
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Debit
                    </th>
                    <th>
                        Credit
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
