@model IEnumerable<SEA_Application.Models.AspnetSubjectTopic>

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/Content/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Material Dashboard by Creative Tim
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- CSS Files -->
    <link href="~/Content/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!--    <link href="~/Content/assets/demo/demo.css" rel="stylesheet" />-->

    <link rel="stylesheet" href="~/Content/assets/css/style.css">



</head>

<body class="">
    <div class="wrapper ">
        <!--SIDEBAR-->
        <div class="sidebar" data-color="azure" data-background-color="azure">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a class="simple-text logo-normal" href="#">
                    <img class="transparent" alt="" src="~/Content/assets/assets/img/logo%20SEA1.png">
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item  ">
                        <a class="nav-link" href="./dashboard.html">
                            <i class="sea-dash">
                                <img style="width: 18px;line-height: 30px;font-size: 24px;vertical-align: -1px;" src="~/Content/assets/assets/icons/Icon-Dashboard.png" alt="">
                            </i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link" href="./user.html">
                            <i class="sea-dash">
                                <img style="width: 18px;line-height: 30px;font-size: 24px;vertical-align: -1px;" src="~/Content/assets/assets/icons/Icon-Stats.png" alt="">
                            </i>
                            <p>Statistics</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./tables.html">
                            <i class="sea-dash">
                                <img style="width: 18px;line-height: 30px;font-size: 24px;vertical-align: -1px;" src="~/Content/assets/assets/icons/Icon-Vouchers.png" alt="">
                            </i>
                            <p>Vouchers</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./typography.html">
                            <i class="sea-dash">
                                <img style="width: 18px;line-height: 30px;font-size: 24px;vertical-align: -1px;" src="~/Content/assets/assets/icons/Icon-Students.png" alt="">
                            </i>
                            <p>Students</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--END SIDEBAR-->
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top px-4">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="bread-crumbs">
                            <ul>
                                <li>Home <span>&gt;</span></li>
                                <li class="active"><a href="#">Students</a></li>
                            </ul>
                        </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;">
                                    <i class="sea-icons-nav">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 26.284 26.261">
                                            <defs>
                                                <style>
                                                    .prefix__cls-1 {
                                                        fill: none;
                                                        stroke: #afbccc;
                                                        stroke-width: 2px;
                                                    }
                                                </style>
                                            </defs>
                                            <g id="prefix__Icon-setting" transform="translate(-1914.284 -667.899)">
                                                <path id="prefix__Path_362" d="M1924.777 669.03a12.339 12.339 0 0 0-3.581 1.4 3.344 3.344 0 0 1-3.228 4.274 3.5 3.5 0 0 1-1.029-.156 12.2 12.2 0 0 0-1.49 3.492 3.343 3.343 0 0 1 0 5.986 12.2 12.2 0 0 0 1.49 3.494 3.479 3.479 0 0 1 1.03-.157 3.343 3.343 0 0 1 3.227 4.273 12.284 12.284 0 0 0 3.581 1.4 3.379 3.379 0 0 1 5.752-.123 12.273 12.273 0 0 0 3.566-1.556 3.364 3.364 0 0 1 3.319-3.994 3.537 3.537 0 0 1 .543.042 12.193 12.193 0 0 0 1.492-3.665 3.339 3.339 0 0 1 0-5.408 12.194 12.194 0 0 0-1.492-3.665 3.432 3.432 0 0 1-.544.043 3.365 3.365 0 0 1-3.318-3.994 12.227 12.227 0 0 0-3.566-1.555 3.38 3.38 0 0 1-5.752-.125z" class="prefix__cls-1" data-name="Path 362" />
                                                <path id="prefix__Path_363" d="M1930.863 685.107a5.319 5.319 0 1 1-3.415-9.4" class="prefix__cls-1" data-name="Path 363" />
                                                <path id="prefix__Path_364" d="M1927.448 675.71a5.327 5.327 0 0 1 5.321 5.322" class="prefix__cls-1" data-name="Path 364" />
                                            </g>
                                        </svg>
                                    </i>
                                    <span class="d-lg-inline-block d-md-inline-block">
                                        Setting
                                    </span>
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;">
                                    <i class="sea-icons-nav">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="26.287" height="26" viewBox="0 0 26.287 26">
                                            <defs>
                                                <style>
                                                    .prefix__cls-1 {
                                                        fill: none;
                                                        stroke: #afbccc;
                                                        stroke-linecap: round;
                                                        stroke-linejoin: round;
                                                        stroke-width: 2px;
                                                    }
                                                </style>
                                            </defs>
                                            <g id="prefix__Icon-logout" transform="translate(-1953.312 -668.03)">
                                                <path id="prefix__Path_366" d="M1969.349 672.228a3.123 3.123 0 0 0-3.042-3.2h-8.953a3.121 3.121 0 0 0-3.042 3.2v17.6a3.121 3.121 0 0 0 3.042 3.2h8.953a3.123 3.123 0 0 0 3.042-3.2" class="prefix__cls-1" data-name="Path 366" />
                                                <path id="prefix__Path_367" d="M1973.685 685.944l4.914-4.914-4.914-4.914" class="prefix__cls-1" data-name="Path 367" />
                                                <path id="prefix__Line_1" d="M15.373 0L0 0" class="prefix__cls-1" data-name="Line 1" transform="translate(1963.028 681.03)" />
                                            </g>
                                        </svg>
                                    </i>
                                    <span class="d-lg-inline-block d-md-inline-block">
                                        Logout
                                    </span>
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link p-0" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img style="width: 45px;height: 45px;" src="~/Content/assets/assets/img/Profile.png">
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Privacy</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Settings</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pageHeading">
                                <div class="row">
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <h1 class="float-left">Topics List</h1>
                                    </div>
                                    <div class="col-sm-12 col-md-9 col-lg-9">
                                        <button type="button" class="btn btn-primary pull-right rounded rounded-lg createBtn">Create</button>
                                        <input type="text" placeholder="Type Keyword" id="global_filter" class="searchBox pull-right pl-4 p-2 pull-right rounded rounded-lg   mr-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body p-4">


                                    <div class="row">
                                        <div class="col-md-12 table-responsive-lg">
                                            <table id="datatable" class="display table table-hover" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        @*<th>
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="checkbox">
                                                                    <span class="form-check-sign"><span class="check"></span></span>
                                                                </label>
                                                            </div>
                                                        </th>*@
                                                        <th>Topic Name</th>
                                                        <th>Description </th>
                                                        <th>FAQ</th>
                                                        <th>Subjects</th>

                                                    </tr>
                                                </thead>
                                                @*<tbody>
            <tr>
                <td>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox">
                            <span class="form-check-sign"><span class="check"></span></span>
                        </label>
                    </div>
                </td>
                <td>Abdul Malik</td>
                <td>1265497</td>
                <td>example@domain.com</td>
                <td>0332 1234567</td>
                <td>Playgroup A</td>
            </tr>


        </tbody>*@
                                                <tbody id="TopicList">

                                                           
                                                            @*<td>
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                        <input class="form-check-input" type="checkbox">
                                                                        <span class="form-check-sign"><span class="check"></span></span>
                                                                    </label>
                                                                </div>
                                                            </td>*@




                                                    



                                                </tbody>


                                                <!--<tfoot>
        <tr>
            <th>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox">
                        <span class="form-check-sign"><span class="check"></span></span>
                    </label>
                </div>
            </th>
            <th>Name</th>
            <th>Roll Number</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Class</th>
        </tr>
    </tfoot>-->
                                            </table>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="~/Content/assets/js/core/jquery.min.js"></script>
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/Content/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin for the momentJs  -->
    <script src="~/Content/assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/Content/assets/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/Content/assets/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/Content/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/Content/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="~/Content/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="~/Content/assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/Content/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/Content/assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="~/Content/assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="~/Content/assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/Content/assets/js/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="~/Content/assets/js/plugins/arrive.min.js"></script>
    <!--  Google Maps Plugin    -->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
    <!-- Chartist JS -->
    <script src="~/Content/assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Content/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Content/assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/Content/assets/demo/demo.js"></script>
    <!--<link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">-->
    <!--<script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>-->
    <!--<script src="https://cdn.datatables.net/buttons/1.10.20/js/buttons.flash.min.js" type="text/javascript"></script>-->
    <!--<script src="https://cdn.datatables.net/buttons/1.10.20/js/dataTables.buttons.min.js" type="text/javascript"></script>-->
    <script>
        function filterGlobal() {

            $('#datatable').DataTable().search(
                $('#global_filter').val(), false, true
                /*$('#global_regex').prop('checked'),
                $('#global_smart').prop('checked')*/
            ).draw();
        }
        $(document).ready(function () {

       var table =      $('#datatable').dataTable({
                buttons: [
                    {
                        text: '<span class="datatableButtonsReset"> <img src="/Content/assets/assets/icons/Icon-Reset2.png" alt=""> Reset</span>'
                    },
                    {
                        text: '<span class="datatableButtonsEdit"> <img src="/Content/assets/assets/icons/Icon-edit.png" alt=""> Edit</span>'
                    },
                    {
                        text: '<span class="datatableButtonsDelete"> <img src="/Content/assets/assets/icons/Icon-bin.png" alt=""> Delete</span>'
                    },
                    {
                        text: '<span class="datatableButtonsDownload"> <img src="/Content/assets/assets/icons/Icon-download.png" alt=""> Download</span>'
                    }
                ],
                "language": {
                    "lengthMenu": "<div class=\"d-flex showEntriesCon\">\n" +
                        "  <div class=\"p-2\">Show </div> <div class=\"showEntries\"> _MENU_\n" +
                        "  </div>\n" +
                        "  </div>",
                    "info": "<div class='showingEntriesOfTotal'>Showing <span class=\"text-info\">_START_ to _END_</span> of _TOTAL_ entries</div>",
                    "paginate": {
                        "first": "Firstt",
                        "last": "Lastt",
                        "next": ' <img src="~/Content/assets/assets/icons/Arrow2.png" alt=""> ',
                        "previous": ' <img src="~/Content/assets/assets/icons/Arrow1.png" alt=""> '
                    }
                },
                "searching": true,
                // dom: '<"class">Blfrtip',
                dom: "<'row mb-3'<'col-sm-12 col-md-2 col-lg-2'l><'col-sm-12 col-md-10 col-lg-10 datatableButtonsCon text-right'Bf>>" +
                    "<'row'<'col-sm-12 datatablesData'tr>>" +
                    "<'row mt-4'<'col-sm-12 col-md-4 col-lg-6 infoCon'i><'col-sm-12 col-md-8 col-lg-6 pagCon'p>>",
            });
            $('input#global_filter').on('keyup click', function () {
                filterGlobal();
            });

                      
        $.ajax({
            type: "POST",
            url: "/AspnetSubjectTopics/AllSubjectTopicList",
            data: {},

            success: function (data) {
                table.fnClearTable();
                debugger
                $.each(data, function (index) {

                    table.fnAddData([data[index].Name,data[index].Description,data[index].FAQ,data[index].SubjectName]);

                })
                table.fnDraw();

            }
        })

          //  alert("usama");
  


        });//End of Document Ready
        $(document).ready(function () {
            $().ready(function () {

                $sidebar = $('.sidebar');

                $sidebar_img_container = $sidebar.find('.sidebar-background');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                    if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                        $('.fixed-plugin .dropdown').addClass('open');
                    }

                }

                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .active-color span').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .background-color .badge').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('background-color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });

                $('.fixed-plugin .img-holder').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');


                    var new_image = $(this).find("img").attr('src');

                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function () {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }

                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $full_page_background.fadeOut('fast', function () {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }

                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });

                $('.switch-sidebar-image input').change(function () {
                    $full_page_background = $('.full-page-background');

                    $input = $(this);

                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }

                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }

                        background_image = false;
                    }
                });

                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                    } else {

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);

                });
            });

        });
    </script>
</body>

</html>