
@{
    ViewBag.Title = "CommentsPage";
    Layout = "~/Views/Shared/_StudentDashboardLayout.cshtml";
}


<input type="hidden" id="CommentHeadId" name="name" value="@ViewBag.CommentHeadId" />

<div class="col-md-12">


    <div id="CommentHead">
        <br />
        <br />





    </div>

</div>


<script>

    $(document).ready(function () {


        var id = $("#CommentHeadId").val();
        //Comments page of lesson
        $.ajax({

            type: "POST",
            url: "/StudentCourses/GetCommentHead",
            data: { "CommentHeadId": id },
            success: function (data) {
                debugger

                   // $("#CommentHead").append('<div id="QADiv"  name ="' + data[index].CommentHeadId + '"   class ="CommentDivs" style="border:1px solid gray;padding:10px;width:70%;cursor:pointer;margin:auto"><p id="TitleParagraph"><b>' + data[index].Title + '</b></p><p>' + data[index].Body + '</p> <p><b>' + data[index].Date + '</b></p><p><b>' + data[index].UserName + '</p> </b> </div><br>');



            }

        })


    })


</script>