
@{
    ViewBag.Title = "EvaluationForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EvaluationForm</h2>
<script>
    $(document).ready(function () {
        alert("there");

    });
</script>
