<style>
    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }



</style>


@*<style>
        .content{
            padding:0px;
            min-height:170px;
        }

    </style>

    <div class="content" style="background-color:#1c3349 !important">
           <div class="col-md-5">
                <br />
                <span id="name" style="color:white;font-size:32px;font-family:Montserrat"></span>
            </div>
            <div class="col-md-2 pull-right">
                <br />
                <span id="time" class="col-md-12 pull-right" style="color:white;font-size:32px;font-family:Montserrat"></span>
            </div>
            <div class="col-md-12">
                <span id="date" style="color:white;font-size:20px;font-family:Montserrat"></span>
            </div>
    </div>
    <div class="monthly" id="mycalendar" style="margin-top:10px;max-height:10%"></div>

    <link href="~/css/monthly.css" rel="stylesheet" />
    <script src="~/Scripts/monthly.js"></script>
    <script>
        $(document).ready(function () {


            $.ajax({
                type: "POST",
                url: "/Admin_Dashboard/CalendarNotification",
                success: function (data) {
                    var events = [];

                    var status = "";
                    var ck = data.checkdate;
                    var starttimesplit = ck.split('(')[1];
                    var endtimesplit = starttimesplit.split(')')[0];
                    var etsplit = parseInt(endtimesplit);
                    var e = new Date(etsplit);
                    var tt = e.toLocaleTimeString();
                    var onlytime = tt.split(' ');
                    var AMPM = onlytime[1];
                    var timepart = onlytime[0].split(':');
                    var hours = timepart[0];
                    var min = timepart[1];
                    var time = hours + ' : ' + min + ' ' + AMPM;
                    if (hours >= 6 && hours < 12 && AMPM == "AM")
                    {
                        status = "Good Morning " + data.name+"!";
                    }
                    else if (hours >= 12 && AMPM == "PM")
                    {
                        status = "Good Afternoon " + data.name + "!";
                    }
                    else if (hours >= 1 && hours<6 && AMPM == "PM") {
                        status = "Good Afternoon " + data.name + "!";
                    }
                    else if (hours >= 6 && AMPM == "PM") {
                        status = "Good Evening " + data.name + "!";
                    }
                    else if (hours >=12 && AMPM == "AM") {
                        status = "Good Night " + data.name + "!";
                    }
                    else if (hours >= 1 && hours<6 && AMPM == "AM") {
                        status = "Good Night " + data.name + "!";
                    }
                    var date ="Today is "+ data.Date;

                    $("#time").html(time);
                    $("#date").html(date);
                    $("#name").html(status);
                    debugger;
                    var evettnt = { "monthly": events };
                    $('#mycalendar').monthly({
                        mode: 'event',
                        dataType: 'json',
                        events: evettnt
                    });
                }

            })


        })
    </script>*@
@*@{
        ViewBag.Title = "Index";
    }



    <style>
        .content {
            padding: 0px;
            min-height: 170px;
        }
    </style>

    <div class="content" style="background-color:#1c3349 !important">
        <div class="col-md-5">
            <br />
            <span id="name" style="color:white;font-size:32px;font-family:Montserrat"></span>
        </div>
        <div class="col-md-2 pull-right">
            <br />
            <span id="time" class="col-md-12 pull-right" style="color:white;font-size:32px;font-family:Montserrat"></span>

        </div>
        <div class="col-md-12">
            <span id="date" style="color:white;font-size:20px;font-family:Montserrat"></span>
        </div>

    </div>

    <div class="monthly" id="mycalendar"></div>
    <script>
        $(document).ready(function () {


            $.ajax({
                type: "POST",
                url: "/Admin_Dashboard/CalendarNotification",
                success: function (data) {
                    debugger;
                    var status = "";
                    var ck = data.checkdate;
                    var starttimesplit = ck.split('(')[1];
                    var endtimesplit = starttimesplit.split(')')[0];
                    var etsplit = parseInt(endtimesplit);
                    var e = new Date(etsplit);
                    var tt = e.toLocaleTimeString();
                    var onlytime = tt.split(' ');
                    var AMPM = onlytime[1];
                    var timepart = onlytime[0].split(':');
                    var hours = timepart[0];
                    var min = timepart[1];
                    var time = hours + ' : ' + min + ' ' + AMPM;
                    if (hours >= 6 && AMPM == "AM") {
                        status = "Good Morning " + data.name + "!";
                    }
                    else if (hours >= 12 && AMPM == "PM") {
                        status = "Good Afternoon " + data.name + "!";
                    }
                    else if (hours >= 1 && hours < 6 && AMPM == "PM") {
                        status = "Good Afternoon " + data.name + "!";
                    }
                    else if (hours >= 6 && AMPM == "PM") {
                        status = "Good Evening " + data.name + "!";
                    }
                    else if (hours >= 12 && AMPM == "AM") {
                        status = "Good Night " + data.name + "!";
                    }
                    else if (hours >= 1 && hours < 6 && AMPM == "AM") {
                        status = "Good Night " + data.name + "!";
                    }
                    var date = "Today is " + data.Date;

                    $("#time").html(time);
                    $("#date").html(date);
                    $("#name").html(status);
                }
            })

            //$('#mycalendar').monthly({
            //    mode: 'event',
            //    xmlUrl: 'events.xml'
            //});
        })
    </script>*@


<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<style>
    .col-md-12 {
        width: 100%;
        background-color: white;
        padding: 38px;
    }

    .modal-body {
        position: relative;
        padding: 0px;
    }
 .list-group {
    padding-left: 0;
    float: left;
    margin-right: 26px;
    padding-right: 18px;
  
    width: 249px;
}
    .fc .fc-button-group > * {
        float: left;
        margin: 0 0 0 -1px;
        text-transform: capitalize;
    }

    .content {
        padding: 0px;
        min-height: 170px;
    }

    .col-md-12.datedetails {
        width: 44%;
        background-color: transparent;
        padding: 18px;
    }

    span#time {
        padding: 13px;
        background-color: transparent;
    }

    div#detail_Model {
        padding-left: 11px;
        padding-top: 1px;
        padding-right: 10px;
    }



    .list_header_style {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .student_list {
        cursor: pointer;

    }.student1_list {
        cursor: pointer;

    }.student3_list {
        cursor: pointer;

    }.student4_list {
        cursor: pointer;

    }

    .custom_Style {
    }

    #firstlist {
        float:left;
    }
    #secondlist {
        display: none;
        float:left;
        margin-left:10px;
    }
    #thirdlist {
        display: none;
        float: left;
        margin-left: 10px;
    }

    #fourthlist {
        display: none;
        float: left;
        margin-left: 10px;
    }
      .list_header_style {
        background: #31364A;
        font-size: 20px;
        color: white
    }

      .list_item_style:hover {
        background: #f5f5f5;
    }




</style>

@{
    ViewBag.Title = "Index";
}

<div class="content" style="background-color:#1c3349 !important">
    <div class="col-md-5">
        <br />
        <span id="name" style="color:white;font-size:30px;  font-family:Montserrat"></span>
    </div>
    <div class="col-md-2 pull-right rightpart">
        <br />
        <span id="time" class="col-md-12 pull-right" style="color:white;font-size:32px;font-family:Montserrat"></span>
    </div>
    <div class="col-md-12 datedetails">
        <span id="date" style="color:white;font-size:20px;font-family:Montserrat"></span>
    </div>
</div>


@*<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'Calendar')">Calendar</button>
    <button class="tablinks" onclick="openCity(event, 'Summary')">Summary</button>

</div>*@


<div class="tab">
    <button class="tablinks active" onclick="openCity(event, 'Calendar')">Calendar</button>
    <button class="tablinks" onclick="openCity(event, 'Summary')">Summary</button>
    @*<button class="tablinks" onclick="openCity(event, 'Finance')">Finance Summary</button>*@
</div>

<div style="display:block" id="Calendar" class="tabcontent">
    <div class="monthly" id="mycalendar"></div>
    <div id="calender"></div>

</div>

<div id="Summary" class="tabcontent">
    <h3>Summary Content</h3>
 

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="1349">@ViewBag.TotalStudents</span>
                    </div>
                    <div class="desc"> Total Students </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="12,5">@ViewBag.TotalTeachers</span>
                    </div>
                    <div class="desc"> Total Teachers </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="549">@ViewBag.TotalSubjects</span>
                    </div>
                    <div class="desc"> Total Subjects </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number">
                        @ViewBag.TotalSessions
                        <span data-counter="counterup" data-value="89"></span>
                    </div>
                    <div class="desc"> Total Sessions </div>
                </div>
            </a>
        </div>
    </div>


    <div class="container-fluid">
       
        <div style="width:232px" id="firstlist">
            <h2 class="list_header_style">Teacher</h2>
          <ul class="student_list list-group"></ul>
           </div>


        <div style="width:232px;" id="secondlist" >
            <h2 class="list_header_style">Subject</h2>

            <ul class="student1_list list-group">
            </ul>
            </div>

        <div style="width:232px;" id="thirdlist">
            <h2 class="list_header_style">Chapters</h2>
            @*<h2 class="list_header_style">third</h2>*@
            <ul class="student3_list list-group">
            </ul>
           </div>

        <div style="width:232px" id="fourthlist">
            <h2 class="list_header_style">Topics</h2>
            <ul class="student4_list list-group">
            </ul>
        </div>
      
    </div>
 
</div>

<div id="Finance" class="tabcontent">
    



</div>






<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="detail_Model">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save Event</h4>
            </div>
            <div class="modal-body">
                <form class="col-md-12 form-horizontal">
                    <input type="hidden" id="hdEventID" value="0" />
                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" id="txtSubject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Start</label>
                        <div class="input-group date" id="dtp1">
                            <input type="text" id="txtStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkIsFullDay" checked="checked" />  Is Full Day</label>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate" style="display:none">
                        <label>End</label>
                        <div class="input-group date" id="dtp2">
                            <input type="text" id="txtEnd" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Theme Color</label>
                        <select id="ddThemeColor" class="form-control">
                            <option value="">Default</option>
                            <option value="red">Red</option>
                            <option value="blue">Blue</option>
                            <option value="Pink">Pink</option>
                            <option value="green">Green</option>
                            <option value="orange">Orange</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" id="IsPublic" checked="checked" />  Is Public</label>
                        </div>
                    </div>
                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $(document).ready(function () {


            $.ajax({
                type: "POST",
                url: "/Admin_Dashboard/CalendarNotification",
                success: function (data) {

                    var status = "";
                    var ck = data.checkdate;
                    var starttimesplit = ck.split('(')[1];
                    var endtimesplit = starttimesplit.split(')')[0];
                    var etsplit = parseInt(endtimesplit);
                    var e = new Date(etsplit);
                    var tt = e.toLocaleTimeString();
                    var onlytime = tt.split(' ');
                    var AMPM = onlytime[1];
                    var timepart = onlytime[0].split(':');
                    var hours = timepart[0];
                    var min = timepart[1];
                    var time = hours + ' : ' + min + ' ' + AMPM;
                    if (hours >= 6 && AMPM == "AM") {
                        status = "Good Morning " + data.name + "!";
                    }
                    else if (hours >= 12 && AMPM == "PM") {
                        status = "Good Afternoon " + data.name + "!";
                    }
                    else if (hours >= 1 && AMPM == "PM") {
                        status = "Good Afternoon " + data.name + "!";
                    }
                    else if (hours >= 6 && AMPM == "PM") {
                        status = "Good Evening " + data.name + "!";
                    }
                    else if (hours >= 12 && AMPM == "AM") {
                        status = "Good Night " + data.name + "!";
                    }
                    else if (hours >= 1 && hours < 6 && AMPM == "AM") {
                        status = "Good Night " + data.name + "!";
                    }
                    var date = "" + data.Date;

                    $("#time").html(time);
                    $("#date").html(date);
                    $("#name").html(status);
                }
            })

            $('#mycalendar').monthly({
                mode: 'event',
                xmlUrl: 'events.xml'
            });
        })


        //GetAllTeachers
        $.ajax({
            url: "/Admin_Dashboard/GetTeachersList",
            type: "Post",
            dataType: "json",
            success: function (response) {
                // alert(response);
              
                $.each(response, function (index) {
                //alert(response[index].Id+"  "+response[index].Name);
                    $(".student_list").append('<li  class="list-group-item list_item_style" id="' + response[index].teacherid + '" > ' + response[index].Name + '  </li>');
                 });
   },

            error: function () {


            }


        })


        $(".student_list").on("click", "li", function () {

            debugger;
            var id = $(this).attr('id');
            $("#secondlist").css('display', 'none');

            $("#thirdlist").css('display', 'none');
            $("#fourthlist").css('display', 'none');
          
            $.ajax({
                type: "POST",
                url: "/Admin_Dashboard/GetSubjectsList",
                data: { id: id },

                dataType: "json",

                success: function (response) {

                    debugger;
                 //   response = JSON.parse(response);
                    //      alert(response.Id+"  "+response.Name);



                    $(".student1_list").html('');


                    $.each(response, function (index) {

                        $("#secondlist").fadeIn(800);

            $(".student1_list").append('<li  class="list-group-item list_item_style" id="' + response[index].SubjectID + '" > ' + response[index].SubjectName + '  </li>');

                    });
     }

            })

    })


        $(".student1_list").on("click", "li", function () {

            debugger;
            var id = $(this).attr('id');

            $("#thirdlist").css('display', 'none');

            $("#fourthlist").css('display', 'none');

            debugger
            $.ajax({
                type: "POST",
                url: "/Admin_Dashboard/GetChaptersList",
                data: { id: id },

                dataType: "json",

                success: function (response) {
                    debugger;
                    $(".student3_list").html('');
                        $.each(response, function (index) {

                            $("#thirdlist").fadeIn(800);
                        $(".student3_list").append('<li  class="list-group-item list_item_style" id="' + response[index].Id + '" > ' + response[index].ChapterName + '  </li>');

                    });



                }


            })
        })

        $(".student3_list").on("click", "li", function () {
            var id = $(this).attr('id');
              $("#fourthlist").css('display', 'none');

              debugger;
            $.ajax({
                type: "POST",
                url: "/Admin_Dashboard/GetTopicsList",
                data: { id: id },

                dataType: "json",

                success: function (response) {
                    debugger;
                    $(".student4_list").html('');

                    $.each(response, function (index) {
                        debugger;
                        $("#fourthlist").fadeIn(800);

                        $(".student4_list").append('<li  class="list-group-item list_item_style" id="' + response[index].Id + '" > ' + response[index].TopicName + '  </li>');
                   });

                           } })

                    })
        $(".topic_list").on("click", "li", function () {


            var id = $(this).attr('id');



            $("#fourthlist").css('display', 'none');

            debugger
            $.ajax({
                type: "POST",
                url: "/Teacher_Dashboard/GetTopicPercentage",
                data: { id: id },

                dataType: "json",

                success: function (response) {

                    debugger;
                    //response = JSON.parse(response);
                    //      alert(response.Id+"  "+response.Name);



                    $(".topic_percentage_list").html('');




                    $("#fourthlist").css('display', 'block');


                    $(".topic_percentage_list").append('<li  class="list-group-item"  > ' + response.TopicPercentage + '%  </li>');

   }
   })



        })

        var events = [];
        var selectedEvent = null;
        FetchEventAndRenderCalendar();
        function FetchEventAndRenderCalendar() {
            events = [];
            $.ajax({
                type: "GET",
                url: "/Admin_Dashboard/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {

                        events.push({
                            eventID: v.EventID,
                            title: v.Subject,
                            description: v.Description,
                            start: moment(v.Start),
                            end: v.End != null ? moment(v.End) : null,
                            color: v.ThemeColor,
                            allDay: v.IsFullDay
                        });
                    })

                    GenerateCalender(events);
                },
                error: function (error) {

                }
            })
        }

        function GenerateCalender(events) {
            $('#calender').fullCalendar('destroy');
            $('#calender').fullCalendar({
                contentHeight: 400,
                defaultDate: new Date(),
                timeFormat: 'h(:mm)a',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay,agenda'
                },
                eventLimit: true,
                eventColor: '#378006',
                events: events,
                eventClick: function (calEvent, jsEvent, view) {
                    selectedEvent = calEvent;
                    $('#myModal #eventTitle').text(calEvent.title);
                    var $description = $('<div/>');
                    $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("MMM-DD-YYYY HH:mm a")));
                    if (calEvent.end != null) {
                        $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("MMM-DD-YYYY HH:mm a")));
                    }
                    $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                    $('#myModal #pDetails').empty().html($description);

                    $('#myModal').modal();
                },
                selectable: true,
                select: function (start, end) {
                    selectedEvent = {
                        eventID: 0,
                        title: '',
                        description: '',
                        start: start,
                        end: end,
                        allDay: false,
                        color: ''
                    };
                    openAddEditForm();
                    $('#calendar').fullCalendar('unselect');
                },
                editable: true,
                eventDrop: function (event) {
                    var data = {
                        EventID: event.eventID,
                        Subject: event.title,
                        Start: event.start.format('MM/DD/YYYY HH:mm A'),
                        End: event.end != null ? event.end.format('MM/DD/YYYY HH:mm A') : null,
                        Description: event.description,
                        ThemeColor: event.color,
                        IsFullDay: event.allDay
                    };
                    SaveEvent(data);
                }
            })
        }

        $('#btnEdit').click(function () {
            //Open modal dialog for edit event
            openAddEditForm();
        })
        $('#btnDelete').click(function () {
            if (selectedEvent != null && confirm('Are you sure?')) {
                $.ajax({
                    type: "POST",
                    url: '/Admin_Dashboard/DeleteEvent',
                    data: { 'eventID': selectedEvent.eventID },
                    success: function (data) {
                        if (data.status) {
                            //Refresh the calender
                            FetchEventAndRenderCalendar();
                            $('#myModal').modal('hide');
                        }
                    },
                    error: function () {

                    }
                })
            }
        })

        $('#dtp1,#dtp2').datetimepicker({
            format: 'MM/DD/YYYY HH:mm A'
        });

        $('#chkIsFullDay').change(function () {
            if ($(this).is(':checked')) {
                $('#divEndDate').hide();
            }
            else {
                $('#divEndDate').show();
            }
        });

        function openAddEditForm() {

            if (selectedEvent != null) {
                $('#hdEventID').val(selectedEvent.eventID);
                $('#txtSubject').val(selectedEvent.title);
                $('#txtStart').val(selectedEvent.start.format('MM/DD/YYYY HH:mm A'));
                $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                $('#chkIsFullDay').change();
                $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('MM/DD/YYYY HH:mm A') : '');
                $('#txtDescription').val(selectedEvent.description);
                $('#ddThemeColor').val(selectedEvent.color);
            }
            $('#myModal').modal('hide');
            $('#myModalSave').modal();
        }

        $('#btnSave').click(function () {
            //Validation/
            if ($('#txtSubject').val().trim() == "") {
                alert('Subject required');
                return;
            }
            if ($('#txtStart').val().trim() == "") {
                alert('Start date required');
                return;
            }
            if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                alert('End date required');
                return;
            }
            else {
                var startDate = moment($('#txtStart').val(), "MM/DD/YYYY HH:mm A").toDate();
                var endDate = moment($('#txtEnd').val(), "MM/DD/YYYY HH:mm A").toDate();
                if (startDate > endDate) {
                    alert('Invalid end date');
                    return;
                }
            }

            var data = {
                EventID: $('#hdEventID').val(),
                Subject: $('#txtSubject').val().trim(),
                Start: $('#txtStart').val().trim(),
                End: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
                IsPublic: $('#IsPublic').is(':checked'),
                Description: $('#txtDescription').val(),
                ThemeColor: $('#ddThemeColor').val(),
                IsFullDay: $('#chkIsFullDay').is(':checked')
            }
            SaveEvent(data);
            // call function for submit data to the server
        })

        function SaveEvent(data) {
            $.ajax({
                type: "POST",
                url: '/Admin_Dashboard/SaveEvent',
                data: data,
                success: function (data) {
                    if (data.status) {
                        //Refresh the calender
                        FetchEventAndRenderCalendar();
                        $('#myModalSave').modal('hide');
                    }
                },
                error: function () {

                }
            })
        }
    })


    function openCity(evt, dashBoardTabs) {
      
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(dashBoardTabs).style.display = "block";
        evt.currentTarget.className += " active";
    }

    $('button.fc-prev-button.fc-button.fc-state-default.fc-corner-left').click();


</script>


