body {
    -webkit-print-color-adjust: exact;
}

    td,
    th,
    tr,
    table {
        border-top: 1px solid black;
        border-collapse: collapse;
    }

        td.description,
        th.description {
            width: 75px;
            max-width: 75px;
        }

        td.quantity,
        th.quantity {
            width: 40px;
            max-width: 40px;
            word-break: break-all;
        }

        td.Amount,
        th.Amount {
            width: 40px;
            max-width: 40px;
            word-break: break-all;
        }


        td.price,
        th.price {
            width: 40px;
            max-width: 40px;
            word-break: break-all;
        }

    .centered {
        text-align: center;
        align-content: center;
    }

.ticket {
    width: 230px;
    max-width: 230px;
    font-size: 12px;
    font-family: 'Times New Roman';
}

    img {
        max-width: inherit;
        width: inherit;
    }

    #bill {
        display: none;
    }

#btnPrint {
    display: none;
}