@model IEnumerable<SEA_Application.Models.StudentFeeMonth>


    @{
        ViewBag.Title = "Index";
    }

    <style>
        #updatestatus:hover {
            background-color: #21cd54 !important;
            color: #ffffff !important;
        }

        #refresh:hover {
            background-color: #21cd54 !important;
            color: #ffffff !important;
        }

        #example tr > :nth-child(1) {
            display: none;
        }

        input[type='checkbox'] {
            -webkit-appearance: none;
            width: 30px;
            height: 30px;
            background: white;
            border-radius: 5px;
            border: 2px solid #555;
        }
        /* Base for label styling */
        [type="checkbox"]:not(:checked),
        [type="checkbox"]:checked {
            position: absolute;
            left: -9999px;
        }

            [type="checkbox"]:not(:checked) + label,
            [type="checkbox"]:checked + label {
                position: relative;
                padding-left: 1.95em;
                cursor: pointer;
            }

                /* checkbox aspect */
                [type="checkbox"]:not(:checked) + label:before,
                [type="checkbox"]:checked + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 1.25em;
                    height: 1.25em;
                    border: 2px solid #ccc;
                    background: #fff;
                    border-radius: 4px;
                    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
                }
                /* checked mark aspect */
                [type="checkbox"]:not(:checked) + label:after,
                [type="checkbox"]:checked + label:after {
                    content: '\2713\0020';
                    position: absolute;
                    top: .15em;
                    left: .22em;
                    font-size: 1.3em;
                    line-height: 0.8;
                    color: #09ad7e;
                    transition: all .2s;
                    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
                }
                /* checked mark aspect changes */
                [type="checkbox"]:not(:checked) + label:after {
                    opacity: 0;
                    transform: scale(0);
                }

                [type="checkbox"]:checked + label:after {
                    opacity: 1;
                    transform: scale(1);
                }
        /* disabled checkbox */
        [type="checkbox"]:disabled:not(:checked) + label:before,
        [type="checkbox"]:disabled:checked + label:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #ddd;
        }

        [type="checkbox"]:disabled:checked + label:after {
            color: #999;
        }

        [type="checkbox"]:disabled + label {
            color: #aaa;
        }
        /* accessibility */
        [type="checkbox"]:checked:focus + label:before,
        [type="checkbox"]:not(:checked):focus + label:before {
            border: 2px dotted blue;
        }

        /* hover style just for information *   /
    label:hover:before {
        border: 2px solid #4778d9 !important;
    }


    /* Useless styles, just for demo design */

        body {
            font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
            color: #777;
        }



        .txtcenter {
            margin-top: 4em;
            font-size: .9em;
            text-align: center;
            color: #aaa;
        }

        .copy {
            margin-top: 2em;
        }

            .copy a {
                text-decoration: none;
                color: #4778d9;
            }
 


    </style>
    <script>


        function updatestatus() {
            debugger;
            $('.eeniart0017').css("display", "none");
            var _Mnh = $("#counter").val();
            if (_Mnh == "" || _Mnh == undefined)
                return false;
            $.ajax({
                type: "POST",
                url: "/StudentFeeMonths/GetStatusRecord?StatusRecord=" + _Mnh,
                success: function (data) {
                    $('.eeniart0017').css("display", "none");
                    if (data != "error") {
                        debugger;
                        window.location.href = "/StudentFeeMonths/Index";
                    }
                    else {
                        toastr.warning('Warning ! Pending Status cannot be changed.')
                        return false;
                    }
                }
            })
        }


        var LoadRecord = function () {
            $.ajax({
                type: "POST",
                url: "/StudentFeeMonths/GetStudentFeeMonth",
                success: function (data) {
                    debugger;
                    $('.eeniart0017').css("display", "none");
                    table.fnClearTable();
                    $.each(data, function (i, item) {
                      //  var checkbox = '<input type="checkbox" class="check_class"  value="' + item.Id + '" name="printcheck">';
                        var checkbox = '<input type="checkbox"   value="' + item.Id + '"class="check_class"  name="printcheck" id="test' + item.Id + '" /><label for="test' + item.Id + '"></label>';
                       // table.fnAddData([item.Id, item.Name, item.Date, item.Month, item.Status, item.PayableFee, item.MonthlyFee, item.Multiplier, checkbox]);

                        table.fnAddData([item.Id, item.Name, item.IssueDate, item.Months, item.Status, item.FeePayable, item.InstalmentAmount, item.Multiplier, checkbox]);
                    })
                }
            })
        }


        var table;
        $(document).ready(function () {
            table = $('#example').dataTable();
            $('.eeniart0017').css("display", "block");
            LoadRecord();

            drawTable();

            //$('.table').on('click', 'tbody tr', function () {
            //    debugger;
            //    var td = $(this).children("td");

            //    if ($(td).html() != "No data available in table");
            //    window.location.href = "/StudentFeeMonths/Edit?id=" + $(td[0]).html();
            //});

            var Counter = 0;

            var SelectedMonths = [];


            $(document).on("click", ".check_class", function () {
                debugger;
                var ischecked = $(this).is(':checked');
                if (!ischecked) {
                    var selectedvalue = $(this).val();
                    var index = SelectedMonths.indexOf(selectedvalue);
                    SelectedMonths.splice(index, 1);
                }
                else {
                    var selectedvalue = $(this).val();
                    SelectedMonths.push(selectedvalue);
                    Counter++;
                    $("#counter").val(SelectedMonths);
                }

            });
            $("#MonthID").change(function () {
                $('.eeniart0017').css("display", "block");

                var Month = $(this).val();
                if (Month == "All") {
                    LoadRecord();
                }
                else {
                    var html = '';
                    $('#StatusID').prop('selectedIndex', 0);

                    $.ajax({
                        type: "POST",
                        url: "/StudentFeeMonths/GetStudentDetailDDL?Month=" + Month,
                        success: function (data) {
                            $('.eeniart0017').css("display", "none");

                            table.fnClearTable();
                            $.each(data, function (i, item) {
                             //   var checkbox = '<input type="checkbox" class="check_class"  value="' + item.Id + '" name="printcheck">';
                                var checkbox = '<input type="checkbox"   value="' + item.Id + '"class="check_class"  name="printcheck" id="test' + item.Id + '" /><label for="test' + item.Id + '"></label>';

                                table.fnAddData([item.Id, item.Name, item.Date, item.Month, item.Status, item.PayableFee, item.MonthlyFee, item.Multiplier, checkbox]);
                            })
                        }
                    })
                }

            });
            $("#StatusID").change(function () {
                debugger;
                var Month = $("#MonthID").val()
                $('.eeniart0017').css("display", "block");
                var Status = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "/StudentFeeMonths/GetStudentDetailDDL?Status=" + Status + "&&Month=" + Month,
                    success: function (data) {
                        $('.eeniart0017').css("display", "none");
                        table.fnClearTable();
                        $.each(data, function (i, item) {
                        //    var checkbox = '<input type="checkbox" class="check_class"  value="' + item.Id + '" name="printcheck">';
                            var checkbox = '<input type="checkbox"   value="' + item.Id + '"class="check_class"  name="printcheck" id="test' + item.Id + '" /><label for="test' + item.Id + '"></label>';
                            table.fnAddData([item.Id, item.Name, item.Date, item.Month, item.Status, item.PayableFee, item.MonthlyFee, item.Multiplier, checkbox]);
                        })
                    }
                })
            });

        });
        function drawTable() {
            $('#example_filter').addClass("form-group");
            $('#example_filter').addClass("has-feedback");
            $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
            //$('#example_filter').css("col-lg-9 col-md-8 col-sm-12 col-xs-12");

            $('#example_wrapper').css("text-align", "left");
            $('#example_length').css("text-align", "left");
            $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
            $("#example_length label").css("text-align", "left");
            $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
            // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
            $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "0px", "outline": "none", "padding-left": "10px", "color": "#000000 !important" });
            //$('#example_length').css({ "overflow": "auto" });
            $('#example_filter input').addClass("add");
            $('#example_filter').append('<span class="glyphicon glyphicon-search  form-control-feedback" style="margin-top: -25px; color: #666;"></span>');
            var list = $("#Position").html();
            $('#example_length').append(

                  '<div class="col-md-1 col-lg-1" style="width:0%; padding-left:1px;">' +
                     '<div class="d-bar" style="margin-top:0px;"></div>' +
                     '</div>'
                       +
                    '<div class="col-md-3 col-lg-3">' +
                    '<div class="col-md-6" style="padding:0px; margin-top:0px">' +
                    '<lable class="control-label"  style="margin-top:0px">Select Month</lable>' +
                    '</div>' +
                    '<div class="col-md-6">' +
                    '<select class="form-control  input-sm" id="MonthID" style="margin-top:0px" name="Month">' +
                      '<option value="All">All</option>'
                     + '<option value="January">January</option>' +
                      '<option value="February">February</option>' +
                        '<option value="March">March</option>' +
                      '<option value="April">April</option>' +
                        '<option value="May">May</option>' +
                      '<option value="June">June</option>' +
                        '<option value="July">July</option>' +
                      '<option value="August">August</option>' +
                        '<option value="September">September</option>' +
                      '<option value="October">October</option>' +
                        '<option value="November">November</option>' +
                      '<option value="December">December</option>' +
                    '</select>' +
                    '</div>' +
                    '</div>' +
                     '<div class="col-md-1 col-lg-1" style="width:0%; padding-left:1px;">' +
                     '<div class="d-bar" style="margin-top:0px;"></div>' +
                     '</div>'
                       +
                    '<div class="col-md-3 col-lg-3">' +
                    '<div class="col-md-6" style="padding:0px; margin-top:0px">' +
                    '<lable class="control-label"  style="margin-top:0px">Select Status</lable>' +
                    '</div>' +
                    '<div class="col-md-6">' +
                    '<select class="form-control  input-sm" id="StatusID" style="margin-top:0px" name="Status">' + list +
                     '<option value="All">All</option>' +
                     '<option value="Pending">Pending</option>' +
                      '<option value="Clear">Clear</option>' +
                      '<option value="Printed">Printed</option>' +
                    '</select>' +
                    '</div>' +
                    '</div>' +
                      '<div class="col-md-2 pull-right">' +
              '<input type="button" value="Update Status"  class="form-control updatebtn" id="updatestatus" onclick="updatestatus()" style="border-radius:45px;border-color:#21cd54;color:#21cd54;background-color:#ffffff" />' +
              '</div>'
              //+
              //  '<div class="col-md-2 pull-right !important">' +
              //'<input type="button" value="Refresh"  class="form-control" id="refresh" onclick="Refresh()" style="border-radius:45px;border-color:#21cd54;color:#21cd54;background-color:#ffffff" />' +
              //'</div>'
              );
            $("#Class").prepend("<option value='0' selected>All</option>");
        }

        function Create() {
            window.location.href = "/StudentFeeMonths/Create";
        }
        function Refresh() {
            window.location.href = "";
        }
    </script>
    <h2>Student Fee Months</h2>
    <input type="hidden" name="counter" id="counter" />

    <div class="box box-primary">
        <div class="box-body">

            <table class="table table-bordered" id="example">
                <thead>
                    <tr>

                        <th>Id</th>
                        <th>
                            Name
                        </th>
                        <th>
                            Issue Date
                        </th>
                        <th>
                            Month
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Payable Fee
                        </th>
                        <th>
                            Monthly Fee
                        </th>
                        <th>
                            Multiplier
                        </th>
                        <th>
                            Clear Status
                        </th>
            
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

