<script type="text/javascript">
    var table;
    $(document).ready(function () {
        table = $("#example").dataTable();
        DrawTable();

       
        AllAttendence();
    });

    function AllAttendence() {
        $.get('@Url.Action("AllAttendance")',
                function (data) {
                    table.fnClearTable();
                    $.each(data, function (i, item) {
                        var date;

                        if (item.Date == null) {
                            date = '';
                        }
                        else {
                            date = new Date(parseInt(item.Date.replace(/(^.*\()|([+-].*$)/g, '')));
                            date = date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear();
                        }
                        if (item.Reason == null) {
                            item.Reason = '-/-';
                        }
                        //$('#attendance_table').append('<tr><td>' + $("#SubjectID option:selected").text() + '</td><td>' + item.Status + '</td><td>' + date + '</td><td>' + item.Reason + '</td></tr>');
                        table.fnAddData([item.Status, date, item.Reason]);
                    });
                    table.fnDraw();
                });
    }

    function DrawTable() {
        $('#example_filter').addClass("form-group");
        $('#example_filter').addClass("has-feedback");
        $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
        //$('#example_filter').addClass("col-lg-4 col-md-4 col-sm-12 col-xs-12");
        $('#example_wrapper').css("text-align", "left");
        $('#example_length').css("text-align", "left");
        $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
        $("#example_length label").css("text-align", "left");
       $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
       // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
       $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#12384C !important" });
    //$('#example_length').css({ "overflow": "auto" });
        $('#example_filter input').addClass("add");
        $('#example_filter').append('<span class="glyphicon glyphicon-search form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
        var list = $("#SubjectID").html();
         $('#example_length').append(

             '<div class="col-md-1" style="width:0%; padding-left:1px;">' +
              '<div class="d-bar"></div>' +
             '</div>'
               +
            '<div class="col-md-5 col-lg-2" style="padding-left:0px">'+
            '<div class="col-md-1 col-sm-3 col-xs-3" style="padding-left:0px"><a href=""><i class="glyphicon glyphicon-repeat" data-toggle="tooltip" title="Refresh" data-placement="bottom"></i></a></div>' +
            '<div class="col-md-1 col-sm-3 col-xs-3"><a><span style="color:gray"><i class="glyphicon glyphicon-edit" data-placement="bottom"></i></span></a></div>' +
            '<div class="col-md-1 col-sm-3 col-xs-3"><a><span style="color:gray"><i class="glyphicon glyphicon-download-alt" data-placement="bottom"></i></span></a></div>'+
            ' <div class="col-md-1 col-sm-3 col-xs-3"><a><span style="color:gray"><i class="fa fa-ban" data-placement></i></span>' + '</a></div>' +
            '<div class="col-md-1" style="padding-right:0px">' +
             '<div class="d-bar"></div>' +
            '</div>'  +
            '</div>');

    }

</script>

<label>@Html.ActionLink("Home", "Dashboard", "Account") >  <b><a href="#">View Attendance</a></b></label>
<h4 class="orange">Attendance</h4>
<label id="View">View Default</label>

<div class="box box-primary">
    <div class="box-body">
        <table class="table table-striped table-bordered" id="example">
            <thead>
                <tr>
                    <th>
                        Status
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Reason
                    </th>
                </tr>
            </thead>
            <tbody id="attendance_table"></tbody>
        </table>
    </div>
</div>
